body {
        font-family: cursive;
    }

    h1 {
        text-align: center;
        /* border: 2px solid red; */
    }

    @media only screen and (min-width: 992px) {

    .box {
        border: 2px solid black;
        display: inline-block;
        padding: 0px;
        margin: 23px;
        box-sizing: border-box;
        flex-direction: row;
        width:30%;
        background-color: grey;
    }

    .box1{
        border: 2px solid black;
        display: inline-block;
        padding: 0px;
        margin: 23px;
        box-sizing: border-box;
        flex-direction: row;
        width:30%;
        background-color: grey;
    }

    h3 {
        width: 150px;
        border: 2px solid black;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        box-sizing: border-box;
        display: block;
        background-color: pink;
        text-align: center;



    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }}

    @media only screen and (max-width: 767px)
    {
        .box {
        border: 2px solid black;
        display: flex;
        padding: 0px;
        margin: 15px;
        box-sizing:border-box;
        flex-direction:column;
        width:fit-content;
        background-color: grey;
    }

    .box1{
        border: 2px solid black;
        display: flex;
        padding: 0px;
        margin: 15px;
        box-sizing:border-box;
        flex-direction:column;
        width:fit-content;
        background-color: grey;
    }

    h3 {
        width: 150px;
        border: 2px solid black;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        box-sizing: border-box;
        display: block;
        background-color: pink;
        text-align: center;



    }
p {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }}

    

    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .box {
        border: 2px solid black;
        display: inline-flex;
        padding: 0px;
        margin: 80px;
        box-sizing:border-box;
        flex-direction:column;
        width:30%;
        background-color: grey;
    }

    .box1{
        border: 2px solid black;
        display: inline-block;
        padding: 0px;
        margin: 5px;
        box-sizing:border-box;
        flex-direction:column;
        width:fit-content;
        background-color: grey;
    }

    h3 {
        width: 150px;
        border: 2px solid black;
        margin-left: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        box-sizing: border-box;
        display: block;
        background-color: pink;
        text-align: center;



    }
p {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    }